{% extends '@content/page.twig' %}

{% block header %}
    <article class="col-md-12">
        <h1 class="text-center">Profile</h1>
    </article>
{% endblock header %}

{% block main %}
    <!-- This section is to show the users information -->
    <section class="row">
        {% if context.hasUser %}
            <article class="ml-auto col-md-8 mr-auto">
            <p><i class="fas fa-user fa-10x"></i></p>
            <p class="mt-5"> <span class=".text-muted font-weight-bold"> Username: </span> {{context.user.login}} </p>
            <p> <span class=".text-muted font-weight-bold"> Email: </span> {{context.user.email}} </p>
            </article>
        {% endif %}
    </section>
{% endblock main %}
