{% extends '@content/page.twig' %}

{% block meta %}
{# <meta> for things like keywords etc.#}
{% endblock meta %}

{% block type %}
{# <link> for webfonts #}
{% endblock type %}

{% block css %}
{# <link> for any other CSS files you need #}
{% endblock css %}

{% block scripts %}
{# <script src=""></script> for any other JS files you need #}
{% endblock scripts %}

{% block setup %}
{# Any javascript you need that is NOT run on load goes in this block. ***NB you don't need <script></script> tags here*** #}
{% endblock setup %}

{% block onload %}
{# Any javascript you need that MUST run on load goes in this block. ***NB you don't need <script></script> tags here*** #}
{% endblock onload %}


{% block header %}
    <article class="col-md-12">
        <h1 class="text-center">Profile</h1>
    </article>
{% endblock header %}

{% block main %}
    <section class="row">
        {% if context.hasUser %}
            <article class="ml-auto col-md-8 mr-auto">
            <p><i class="fas fa-user fa-10x"></i></p>
            <p class="mt-5"> <span class=".text-muted font-weight-bold"> Username: </span> {{login}} </p>
            <p> <span class=".text-muted font-weight-bold"> Email: </span> {{email}} </p>
            </article>
        {% endif %}
    </section>
{% endblock main %}
